
.container {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #444;
  }
  cursor: grab;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.container> * {
  position: relative !important;
}